<div class="top">
  <div class="article-wrap">
    <div class="pickup-article-index">
      <div class="pickup-article-relative1">
        <%= link_to article_path(@pickup_iamge1.id) do %>
          <%= image_tag @pickup_iamge1.image, class: "pickup-image1" %>
          <div class="pickup-article-absolute1"></div>
          <div class="pickup-article-info">
            <p class="contents-title"><%= @pickup_iamge1.title %></p>
            <p class="contents-desc"><%= truncate(@pickup_iamge1.desc, :length => 70) %></p>
          </div>
        <% end %>
      </div>
      <div class="pickup-article-relative2">
        <%= link_to article_path(@pickup_iamge2.id) do %>
          <%= image_tag @pickup_iamge2.image, class: "pickup-image2" %>
          <div class="pickup-article-absolute2"></div>
          <div class="pickup-article-info">
            <p class="contents-title"><%= @pickup_iamge2.title %></p>
          </div>
        <% end %>
      </div>
      <div class="pickup-article-relative3">
        <%= link_to article_path(@pickup_iamge3.id) do %>
          <%= image_tag @pickup_iamge3.image, class: "pickup-image3" %>
          <div class="pickup-article-absolute3"></div>
          <div class="pickup-article-info">
            <p class="contents-title"><%= @pickup_iamge3.title %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="article-main-index">
      <div class="new-article-index">
        <h2>最新記事</h2>
        <% @new_article.each do |n| %>
          <div class="new-article-contents">
            <%= link_to article_path(n.id) do %>
              <%= image_tag n.image %>
              <div class="new-article-info">
                <p class="contents-title"><%= n.title %></p>
                <p class="contents-desc"><%= truncate(n.desc, :length => 70) %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="side-article-index">
        <%= render "side_section", article: @article_ranking, title: "アクセスランキング" %>
      </div>
    </div>
  </div>
</div>