<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ? @title : "HARD WORK" %></title>
    <meta name="description" content="<%= @desc %>" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-background">
        <div class="header-title">
          <%= link_to "HARD WORK", articles_path %>
        </div>
        <div class="header-category">
          <ul>
            <% @category.each do |c| %>
              <li><%= link_to c.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
